@import "https://fonts.fontstorage.com/import/comfortaa.css";

#weather {
    position: relative;
    height: 160px;
    width: 240px;
    background: #fff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Comfortaa';
}

#celsius {
    position: relative;
    left: 140px;
    padding-top: 20px;
}

#temperature {
    position: relative;
    left: 95px;
    font-size: 45px;
    direction: rtl;
    width: 20%;
}

#picture{
    position: absolute;
    width: 30%;
    left: 160px;
    bottom: 60px;
}